.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 94px;
  background: #f4f5f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.form-field,
.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-field input {
  width: 100%;
  margin: 6px 0;
  height: 32px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #0079bf;
}
.form-field label {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.actions {
  height: fit-content;
}
.actions .create {
  background: #5aac44;
  border-radius: 3px;
  border-style: none;
  padding: 6px 0;
  width: 77px;
  margin: 17px auto;
  color: #ffffff;
  cursor: pointer;
}
.actions .shared-links {
  color: #0079bf;
  margin: 0 auto;
}
