.blackcontainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(63, 63, 63, 0.8);
}

.createboard {
    margin: 4rem auto;
    width: 30%;
    max-width: 40rem;
    min-width: 32rem;
    display: flex;
    flex-wrap: wrap;
}

.createboard__titlecontainer {
    width: 70%;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: .6rem;
}

.createboard__title {
    width: 80%;
    padding: 0.2rem;
    background: rgba(255, 255, 255, 0.25);
    border: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.6rem;
    font-weight: bold;
}
.createboard__title::placeholder{
    color: rgba(255, 255, 255, 0.75);
}
.createboard__title:focus {
    outline: none;
}
.createboard__exit {
    width: 2rem;
    color: #F4F5F7;
    text-align: center;
    font-size: 1.6rem;
    padding: .25rem;
    margin-left: .8rem;
    font-weight: bold;
}
.createboard__exit:hover {
    cursor: pointer;
}
.createboard__colorscontainer {
    margin-left: 2rem;
    display: grid;
    grid-template: repeat(3,1fr) / repeat(3,1fr);
    column-gap: .5rem;
    row-gap: .5rem;
    width: 10rem;
    height: 10rem;
}

.createboard__submit {
    width: 11rem;
    height: 3.5rem;
    background: #F4F5F7;
border-radius: 0.3rem;
color: #172B4D;
font-size: 1.4rem;
border: none;
margin-top: 0.3rem;
}



.palet-color {
    border-radius: .3rem;
}
.board-blue {
    background-color: #0079BF;
}
.board-orange {
    background-color: #D29034;
}
.board-green {
    background-color: #519839;
}
.board-red {
    background-color: #B04632;
}
.board-purple {
    background-color: #89609E;
}
.board-pink {
    background-color: #CD5A90;
}
.board-lime {
    background-color: #4BBF6B;
}
.board-sky {
    background-color: #0AAECB;
}
.board-grey {
    background-color: #838C90;
}


/* EStilos board detail */

.board__container {
    width: 100%;
}
.boardtop {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
}
.boardtop__title {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 1.6rem;
}
.boardtop__icon {
    padding: 0.8rem;
    color: white;
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.24);
border-radius: 3px;
margin-right: 1.6rem;
cursor: pointer;
}
.star_enable {
    color: #C3BE0E;
}

/* Lists  */

.list__container {
 width: 100%;
 padding: 1rem;
 display: flex;
 align-items: flex-start;
}
.list__add {
    width: 19%;
    border-radius: 0.3rem;
    padding: 1rem;
    font-size: 1.4rem;
    color: white;
    background: rgba(255, 255, 255, 0.24);
    cursor: pointer;
}
.list {
    width: 19%;
    background: #EBECF0;
border-radius: 3px;
padding: 1rem;
margin-right: 0.8rem;
}
.list:last-child {
    margin-right: 0;
}
.list__top {
    display: flex;
    justify-content: space-between;
}
.list__title {
    font-size: 1.4rem;
    font-weight: bold;
    color: #172B4D;
}
.list__top>.fa-times-circle {
    font-size: 1.4rem;
    color: #5E6C84;
    margin-right: .3rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.card {
    background: #FFFFFF;
box-shadow: 0px 1px 0px rgba(9, 30, 66, 0.25);
border-radius: 0.3rem;
padding: 0.4rem 0.8rem;
margin-bottom: 1.2rem;
}
.card__labels {
    display: flex;
}
.card__label {
    border-radius: 0.4rem;
    margin-bottom: 0.8rem;
    width: 4rem;
    height: 0.8rem;
    margin-right: 0.4rem;
}
.card__label:last-child {
    margin-right: 0;
}

.card__title {
    color: #172B4D;
    font-size: 1.4rem;
}

.list__addcard {
    padding: 0.8rem;
    width: 100%;
}

.list__addtitle {
    width: 85%;
    padding: 0.3rem 0.8rem;
    color: #172B4D;
    font-size: 1.4rem;
    background: #FFFFFF;
border: 1px solid #0079BF;
    border-radius: 0.3rem;
    margin-bottom: 0.8rem;
}
.list__addtitle::placeholder {
    color: #5E6C84;
}

.list__addtitle:focus {
    outline: none;
}
.formaddcard__bottom {
    display: flex;
    align-items: center;
}
.list__addbutton {
    background: #5AAC44;
border-radius: 0.3rem;
    padding: 0.8rem 1rem;
    color: white;
    margin-right: 0.8rem;
    border: none;
}
.list__addcancel {
    color: #172B4D;
    font-size: 2.4rem;
    cursor: pointer;
}

/* addcard button */

.card__addbutton {
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #5E6C84;
    cursor: pointer;
    display: contents;
}
